<!-- Page Content -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3">
      <app-book-category></app-book-category>
    </div>

    <!-- /.col-lg-3 -->

    <div class="col-lg-9">
      <!-- Book content -->
      <main class="row">
        <!--<div *ngIf="book?.length" class="col-md-12 alert alert-warning">-->
          <!--No book found-->
        <!--</div>-->

        <div class="col-12 col-md-5">
          <div class="thumbnail">
            <img
              [src]="book.imageUrl"
              img-responsive
              height="300"
              width="250"
            />
          </div>
        </div>

        <div class="col-12 col-md-7">
          <h3 class="h3">{{book.name}}</h3>
          <hr />
          <p>{{book.description}}</p>
          <hr />
          <h4 class="h4">
            Price: <strong>{{book.unitPrice | currency}}</strong>
          </h4>
          <hr />
          <h6 class="h6">Qty. in stock: <strong>{{book.unitPrice}}</strong></h6>
          <hr />

          <a class="btn btn-primary" (click)="goBack()">
            <i class="fas fa-arrow-left"></i> Back
          </a>
          <button (click)="addToCart()" class="btn btn-secondary ml-1">
            <i class="fas fa-cart-arrow-down"></i> Add to cart
          </button>
        </div>
      </main>
    </div>
    <!-- /.col-lg-9 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
