<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <!-- <th>Category</th> -->
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <td>{{book .id}}</td>
      <td>{{book.name}}</td>
      <!-- <td>{{book.category}}</td> -->
      <td>{{book.unitPrice | currency:"USD"}}</td>
      <td>
        <button
          class="btn btn-sm btn-warning m-1"
          [routerLink]="['/admin/editBook', book.id]"
        >
          Edit
        </button>
        <button class="btn btn-sm btn-danger" (click)="deleteBook(book.id)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
<button class="btn btn-dark" routerLink="/admin/addBook">
  Add Book
</button>
<hr>
<div class="col-md-6">
  <ngb-pagination
    class="d-flex justify-content-end"
    [(page)]="currentPage"
    [pageSize]="pageSize"
    [collectionSize]="totalRecords"
    (pageChange)="getBooks()"
  ></ngb-pagination>
</div>
